// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin prefixer($property, $value, $prefixes) {
	@each $prefix in $prefixes {
		@if $prefix == webkit {
			-webkit-#{$property}: $value;
		} @else if $prefix == moz {
			-moz-#{$property}: $value;
		} @else if $prefix == ms {
			-ms-#{$property}: $value;
		} @else if $prefix == o {
			-o-#{$property}: $value;
		} @else if $prefix == spec {
			#{$property}: $value;
		} @else {
			@warn "Unrecognized prefix: #{$prefix}";
		}
	}
}
@mixin transform($transform) {
	@include prefixer(transform, $transform, ms webkit spec);
}
@mixin at-query($constraint_, $viewport1_, $viewport2_:null) {
	$constraint: $constraint_;
	$viewport1: $viewport1_;
	$viewport2: $viewport2_;
	@if type-of($constraint_) == number {
		$viewport1: $constraint_;
		$viewport2: $viewport1_;
		$constraint: null;
	}
	@if $constraint == $min {
		@media screen and ($min: $viewport1) {
			@content;
		}
	} @else if $constraint == $max {
		@media screen and ($max: $viewport1) {
			@content;
		}
	} @else {
		@media screen and ($min: $viewport1) and ($max: $viewport2) {
			@content;
		}
	}
}

@mixin width-100() {
	width: 100%;
}
@mixin height-100() {
	height: 100%;
}
@mixin pseudo() {
	content: "";
	position: absolute;
}
@mixin flex() {
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@mixin flex-column() {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: column;
	flex-direction: column;
}
@mixin flex-row() {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
}
@mixin jarround() {
	justify-content: space-around;
	-ms-justify-content: space-around;
	-ms-flex-pack: distribute;
	-webkit-justify-content: space-around;
}
@mixin jbetween() {
	justify-content: space-between;
	-ms-justify-content: space-between;
	-ms-flex-pack: distribute;
	-webkit-justify-content: space-between;
}
@mixin jcenter() {
	justify-content: center;
	-ms-justify-content: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
}
@mixin spacing( $value, $type: m, $orientation: vertical ) {
	@if $orientation == vertical {
		#{ $type }-top: $value;
		#{ $type }-bottom: $value;
	} @else {
		#{ $type }-left: $value;
		#{ $type }-right: $value;
	}
}
@mixin grid-base( $namespace ) {
	.#{ $fg-class-col }-#{$namespace} {
		@extend %#{ $fg-class-col }-flex;
	}
	@for $i from 1 through $fg-columns {
		.#{ $fg-class-col }-#{$namespace}-#{$i} {
			@extend %#{ $fg-class-col };
		}
	}
}
@mixin grid-sizes( $namespace ) {
	// Run the loop for as many columns as speficied
	@for $i from 1 through $fg-columns {
		.#{ $fg-class-col }-#{$namespace}-#{$i} {
			flex-basis: get-col-percent($i);
			max-width: get-col-percent($i);
		}
	}
	@for $i from 1 through $fg-columns {
		// Don't include the .off class for the last column
		@if ($i != $fg-columns) {
			.#{ $fg-class-off }-#{$namespace}-#{$i} {
				margin-left: get-col-percent($i);
			}
		}
	}
	.#{ $fg-class-off }-#{$namespace}-reset {
		margin-left: 0;
	}
}
@mixin grid-align( $namespace ) {
	.#{$fg-class-start}-#{$namespace} {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: left;
	}
	.#{$fg-class-center}-#{$namespace} {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}
	.#{$fg-class-end}-#{$namespace} {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: right;
	}
	.#{$fg-class-middle}-#{$namespace} {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.#{$fg-class-bottom}-#{$namespace} {
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
	.#{$fg-class-top}-#{$namespace} {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.first-#{$namespace} {
		-webkit-order: 1;
		-ms-order: 1;
		order: 1;
	}
	.last-#{$namespace} {
		-webkit-order: 2;
		-ms-order: 2;
		order: 2;
	}
}
@mixin grid-display( $namespace ) {
	.hide-#{$namespace} {
		display: none;
	}
	.visible-#{$namespace} {
		display: block;
	}
	.between-#{$namespace} {
		@include jbetween();
	}
	.flex-#{$namespace} {
		@include flex;
	}
}