// Font

$font-base: Yinfoc;

// shadow
$shadow-gray: 0 16px 24px 0 #E0E2EB;
$shadow-black: 0 16px 32px 0 rgba(0,0,0,0.15);
// Color system
$blue-sky: #2C58EF;
$blue-dark: #000D37;
$blue: #000D37;
$blue-light: #203757;
$blue-support: rgba(32,55,87,0.55);

$orange-dark: #FF7810;
$orange: #FF9D12;
$orange-light: #FDAD33;
$orange-support: #FDAD33;

$green: #2BB400;

$gray: #e2e2e2;
$gray-light: #EDEEF4;
$gray-support: #F6F7FB;
$black-overlay: rgba(0, 0, 0, .5);

$white: #fff;
$white-support: rgba(255, 255, 255, 0.7);
$orange-gradient: linear-gradient(180deg, #FF9324 0%, #FF7810 100%);
$blue-gradient: linear-gradient(180deg, #4396FF 0%, #1069FF 100%);

$bg-colors: () !default;
$bg-colors: map-merge(
  (
    "blue-sky": $blue-sky,
    "blue-light": $blue-light,
    "blue-support": $blue-support,
    "blue-dark": $blue-dark,
    "orange-dark": $orange-dark,
    "orange": $orange,
    "green": $green,
    "black-overlay": $black-overlay,
    "gray-light": $gray-light,
    "gray-support": $gray-support,
    "white": $white,
  ),
  $bg-colors
);

$gradient-color: () !default;
$gradient-color: map_merge(
  (
     "blue": $blue-gradient,
     "orange": $orange-gradient,
  ),
  $gradient-color
);

$text-colors: () !default;
$text-colors: map-merge(
  (
    "blue": $blue,
    "blue_light": $blue_light,
    "blue-support": $blue-support,
    "orange-dark": $orange-dark,
    "orange": $orange,
    "green": $green,
    "white": $white,
    "white-support": $white-support,
  ),
  $text-colors
);


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:                                true !default;
$enable-rounded:                              true !default;
$enable-shadows:                              false !default;
$enable-gradients:                            false !default;
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true !default;
$enable-pointer-cursor-for-buttons:           true !default;
$enable-print-styles:                         true !default;
$enable-responsive-font-sizes:                false !default;
$enable-validation-icons:                     true !default;
$enable-deprecation-messages:                 true !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .8),
    2: ($spacer * 1),
    3: ($spacer * 1.6),
    4: ($spacer * 3.2),
    5: ($spacer * 4.8)
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 960px,
  lg: 1200px,
  xl: 1600px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 720px,
  md: 768px,
  lg: 1024px,
  xl: 1440px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           3.2rem !default;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-modal-backdrop:             1040 !default;
$zindex-modal:                      1050 !default;
$zindex-popover:                    1060 !default;
$zindex-tooltip:                    1070 !default;

// Utilities

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;


// Printing

$print-page-size:                   a3 !default;
$print-body-min-width:              map-get($grid-breakpoints, "lg") !default;
