@mixin flex-jbetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin background-img() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}