input:focus {
    box-shadow: none;
    outline: none;
}
.y-img {
  width: 100%;
  background: #999999 no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.y-img__input, .y-img__input input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.y-img__input {
    opacity: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.y-img__input:hover {
    opacity: 1;
    transition: all .8s;
}

.y-img--1x1 {
  padding-top: calc( 100% * 1 / 1 );
}

.y-img--1x2 {
  padding-top: calc( 100% * 2 / 1 );
}

.y-img--2x1 {
  padding-top: calc( 100% * 1 / 2 );
}

.y-img--2x3 {
  padding-top: calc( 100% * 3 / 2 );
}

.y-img--3x2 {
  padding-top: calc( 100% * 2 / 3 );
}

.y-img--3x4 {
  padding-top: calc( 100% * 4 / 3 );
}

.y-img--4x3 {
  padding-top: calc( 100% * 3 / 4 );
}

.modal-full {
    padding: 0 !important;
}

.modal-full .modal-dialog {
    width: 100%;
    margin: 0 !important;
}

.modal-full .modal-header {
    height: 55px;
}
.modal-full .modal-body {
    height: calc(100vh - 120px);
    overflow-y: auto;
    background-color: #EDEEF4;
}

.modal-full .modal-footer {
    height: 65px;
}

