
.login-title {
    color: #333;
}
.login-form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form__inner {
    width: 300px;
    margin-bottom: 80px;
}

.login-form input {
    border-radius: 50px;
    height: 40px;
}

.login-form input:focus {
    border-color: #f12711c4;
    box-shadow: 0 0 5px #ff6f00a6;
}

.login-form .fa {
    color: #f12711c4;
}

.login-form .form-control-feedback {
    position: absolute;
    top: 3px;
    right: 5px;
}

.login-form__btn {
    width: 100%;
    border-radius: 50px;
    height: 40px;
    background: linear-gradient(to right,#f12711c4,#ff6f00a6 );
    color: #fff;
}

.login-bg {
    background-size: cover;
    background-repeat: no-repeat;
    /*filter: blur(2px);*/
    /*-webkit-filter: blur(2px);*/
    position: relative;
}

.login-bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
}

.login-support {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
}
.full-screen--h {
    height: 100vh;
}
.login-bg {
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: blur(2px); */
    /* -webkit-filter: blur(2px); */
    position: relative;
}