html, body {
  overflow-x: inherit;
  scroll-behavior: smooth;
}

#tawkchat-container > iframe {
  margin-bottom: 60px;
}

.menu__nav ul li a {
  color: #ffffff;
}

.menu__nav ul li.active a {
  color: #FF9324;
}

.banner-category .title p {
  opacity: 1;
  margin-top: 1.5rem;
}

header .banner-category > div {
  background: transparent;
}

.category-menu {
  background-color: #ffffff;
  border-right: 1px solid rgba(207, 207, 207, 0.4);
  padding: 2rem 0;
  height: calc(100vh - 75px);
  overflow-y: auto;
  position: sticky;
  position: -webkit-sticky;
  width: 30rem;
  top: 75px;
}

.category-menu h4 {
  font-size: 2rem;
  color: #707070;
  padding: 15px 30px;
}

.category-menu a {
  padding: 15px 30px;
  color: #707070;
  display: block;
}

.category-menu .active a {
  background: linear-gradient(90deg, #061F37 35.08%, #663A69 82.97%);
  color: #fff;
}

.category-menu a:hover {
  background: linear-gradient(90deg, #061F37 35.08%, #663A69 82.97%);
  color: #fff;
}

.category-list-pr {
  width: calc(100vw - 30rem);
  padding: 4rem;
  background-color: #ffffff;
}

.category-button {
  display: none;
  cursor: pointer;
}

.category-menu-close {
  display: none;
  cursor: pointer;
}

@media (max-width: 640px) {
  .category-menu-close {
    padding: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: #fff;
    border-radius: 30px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
  }

  .category-menu {
    position: fixed;
    visibility: hidden;
    z-index: 9;
  }

  .category-menu.open {
    visibility: visible;
    top: 0px;
    z-index: 10;
    border: none;
    width: 100%;
    left: 0;
    height: 100vh;
  }

  .category-list-pr {
    width: 100%;
    overflow-y: inherit;
    height: auto;
  }

  .category-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 50px;
    background: #ffffff;
    box-shadow: 0px 0px 3px #222222;
    color: #707070;
    font-size: 1.8rem;
    z-index: 9;
    cursor: pointer;
  }
}

@media (max-width: 959.98px) {
  .tool-view {
    display: none !important;
  }

  .menu__btn {
    background-color: transparent;
  }

  .menu__btn span {
    height: 2px;
  }

  .menu__nav ul li a {
    padding: 1rem 2rem;
    color: #ffffff;
  }

  header .banner-category {
    margin-top: 0;
    height: 25rem;
  }

  header .banner {
    margin-top: 0;
  }

  .banner-category .title {
    margin-top: 40px !important;
  }

  .menu {
    background-color: transparent;
  }
}


.package {
  border-radius: 8px;
  overflow: hidden;
}

.package-header {
  text-align: center;
  color: #ffffff;
  background: linear-gradient(90deg, #061F37 -8.26%, #663A69 100%);
}

.package-header h4 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.package-body h5 {
  font-weight: normal;
  margin: 1.5rem 0;
}

.package-body ul {
  list-style: none;
  color: #707070;
  margin-bottom: 2rem;
}

.package-body ul strike {
  opacity: .5;
}

.package-body li {
  padding: .5rem 0;
}

.package-footer {
  border-top: 1px solid #ECECEC;
}

@media (max-width: 640px) {
  .package {
    margin-bottom: 15px;
  }

  .package-body {
    max-height: 20vh;
    overflow-y: auto;
  }

  #modal-package {
    z-index: 99999999999;
  }

  #modal-package .modal-inner {
    max-height: inherit;
  }
}

.tooltip {
  position: relative;
  cursor: pointer;
}
.tooltip p {
  position: absolute;
  width: 20rem;
  padding: .8rem;
  border-radius: 4px;
  font-size: 1.3rem;
  color: #ffffff;
  bottom: 100%;
  text-align: center;
  display: none;
  background: linear-gradient(90deg, #061F37 -8.26%, #663A69 100%);
  box-shadow: 0 0 8px #ffffff;
  left: -9rem;
}

.tooltip:hover p {
  display: block;
}


.web-view {
  -webkit-overflow-scrolling:touch !important;
  overflow-y: scroll;
}

.web-view iframe{
  height: 100%;
  width: 100%;
}

.review-slide__item {
  cursor: pointer;
}
