.tool-view {
  &>div {
    opacity: .5;
    cursor: pointer;
  }
  @include media-breakpoint-down(xs) {
    display: none !important;
  }
  .active {
    opacity: 1;
  }

  &-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }

}

.web-view {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
    @include media-breakpoint-down(lg) {
      height: 100% !important;
    }
  }
}