.prd-page {
  &__header {
    padding-top: 15rem;
    padding-bottom: 3.2rem;
    h1 {
      margin-top: 1.5rem;
      margin-bottom: 1.2rem;
    }
    small {
      color: $white-support;
    }
  }

  &__img {
    border-radius: 0.8rem;
  }

  &__content {
    border-radius: .8rem;
    text-align: justify;
  }

  footer {
    @include media-breakpoint-down(sm) {
      margin-bottom: 65px;
    }
  }
}