section {
	padding: 5rem 0;
	background-color: #fff;
}

.section {
	&--blue {
		background-color: $blue;
		color: #fff;
	}

	&--gay {
		background-color: #F6F7FB;
		color: $blue;
		p {
			color: $blue-light;
		}
	}
}