// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
	background-color: $blue;
	color: $white-support;
	font-size: 1.4rem;

	a {
		color: $white-support;
		&:hover {
			color: #fff;
		}
	}

	&__t {
		padding: 5.6rem 0;
		ul li {
			list-style: none;
			margin-bottom: 1.2rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__bt {
		padding: 1.4rem 0;
		border-top: solid thin $blue-light;
	}

	&__logo {
		height: 4.2rem;
		width: 15rem;
		margin-bottom: 1.2rem;
	}

	&__title {
		height: 5.4rem;
		font-size: 1.6rem;
		color: $white;
	}
}