
header {
	.banner {
		padding-top: calc( 100% * 640 / 1920 );
		color: #fff;
		& > div {
			background-color: rgba(0,0,0,0.65);
		}

		@include media-breakpoint-down(md) {
			padding-top: 60vh;
		}

		@include media-breakpoint-down(sm) {
			padding-top: 40vh;
			margin-top: 72px;
		}

		@include media-breakpoint-down(xs) {
			padding-top: 60vh;
			margin-top: 72px;
		}

		&-md {
			padding-top: calc( 100% * 480 / 1920 );
			@include media-breakpoint-down(xs) {
				padding-top: 250px;
				margin-top: 72px;
			}

			@include media-breakpoint-down(sm) {
				padding-top: 300px;
				margin-top: 72px;
			}

			@include media-breakpoint-down(md) {
				padding-top: 400px;
			}
		}
	}
}