.order-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $blue;
  z-index: 9;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  div {
    width: 80px;
    height: 100%;
    text-align: center;
    padding-right: 15px;
    padding-top: 10px;
  }
  .btn {
    height: 100%;
    border-radius: 0;
    position: relative;
    padding-right: 45px;
    small {
      color: $white-support;
    }

    width: calc( (100% - 80px) / 2 );
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 60px 30px;
      border-color: transparent transparent $blue-light transparent;
    }
    &:last-child {
      &:before {
        border-color: transparent transparent $orange transparent;
      }
    }
  }
}