.y-img {
    width: 100%;
    background: #eeeeee no-repeat;
    background-size: cover;

    &--1x1 {
        padding-top: calc( 100% * 1 / 1 );
    }

    &--1x2 {
        padding-top: calc( 100% * 2 / 1 );
    }

    &--2x1 {
        padding-top: calc( 100% * 1 / 2 );
    }

    &--2x3 {
        padding-top: calc( 100% * 3 / 2 );
    }

    &--3x2 {
        padding-top: calc( 100% * 2 / 3 );
    }

    &--3x4 {
        padding-top: calc( 100% * 4 / 3 );
    }

    &--4x3 {
        padding-top: calc( 100% * 3 / 4 );
    }

}
