// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
:root {
	font-size: 8px;
	@include media-breakpoint-up(xl) {
		font-size: 10px;
	}
}
html {
	box-sizing: border-box;
	background-color: #F6F7FB;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
ul, ol {
	margin: 0;
	padding: 0;
	&.list {
		list-style: none;
		li {
			padding: 1.4rem 0;
		}
	}
}
a {
	color: $blue-light;
	text-decoration: none;
	transition: all .3s;
	&:hover {
		color: $blue-light;
	}
	&.color-i {
		color: $blue-light;
		&:hover {
			color: $blue-light
		}	
	}
	&.text-u {
		text-decoration: underline;
	}
	&:focus, &:active {
		outline: 0;
	}
}
hr {
	border: 0;
	height: 1px;
	background: #e0e0e0;
}

img {
	width: 100%;
}

form {
	input, textarea, select {
		width: 100%;
		font-family: $font-base;
		&:focus {
			outline: none;
			box-shadow: none;
		}

		&::placeholder {
			font-style: italic;
		}
	}
}