// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
	font-family: 'Yinfoc';
	src: url('../fonts/helveticaneuebold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Yinfoc';
	src: url('../fonts/helveticaneuemedium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Yinfoc';
	src: url('../fonts/helveticaneue.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Yinfoc';
	src: url('../fonts/helveticaneuelight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'yinicon';
	src:  url('../fonts/yinicon.eot?pi7jyi');
	src:  url('../fonts/yinicon.eot?pi7jyi#iefix') format('embedded-opentype'),
	url('../fonts/yinicon.ttf?pi7jyi') format('truetype'),
	url('../fonts/yinicon.woff?pi7jyi') format('woff'),
	url('../fonts/yinicon.svg?pi7jyi#yinicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="yinicon-"], [class*=" yinicon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'yinicon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.yinicon-star:before {
	content: "\e908";
}
.yinicon-arrow-left:before {
	content: "\e907";
}
.yinicon-view:before {
	content: "\e905";
}
.yinicon-check:before {
	content: "\e904";
}
.yinicon-close:before {
	content: "\e900";
}
.yinicon-image:before {
	content: "\e901";
}
.yinicon-calendar:before {
	content: "\e902";
}
.yinicon-call:before {
	content: "\e903";
}
.yinicon-check-orange:before {
	content: "\e906";
}
.yinicon-group:before {
	content: "\e90d";
}
.yinicon-lock:before {
	content: "\e90e";
}
.yinicon-info:before {
	content: "\e911";
}
.yinicon-read:before {
	content: "\e912";
}
.yinicon-arrow-right:before {
	content: "\e913";
}
.yinicon-share:before {
	content: "\e914";
}
.yinicon-web-DN:before {
	content: "\e917";
}
.yinicon-web-QC:before {
	content: "\e918";
}
