.is-fix {
	position: fixed;
	z-index: 10;
	&--tl {
		top: 0;
		left: 0;
	}
	&--tr {
		top: 0;
		right: 0;
	}
}

.w {
	&--100 {
		width: 100%;
	}

	&--50 {
		width: 50%;
	}

	&--30 {
		width: 30%;
	}
}