/**
 * Basic typography style for copy text
 */
body {
	font-family: $font-base;
	font-weight: 400;
	font-size: 1.6rem;
	margin: 0;
	color: $blue-light;
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin-top: 0;
	line-height: 1.25;
	margin-bottom: 0;
}
h1 {
	font-size: 4.8rem;
	@include media-breakpoint-down(sm) {
		font-size: 3.2rem;
	}
}
h2 {
	font-size: 3.6rem;
	@include media-breakpoint-down(sm) {
		font-size: 2.8rem;
	}
}

h3 {
	font-size: 3.2rem;
	@include media-breakpoint-down(sm) {
		font-size: 2.6rem;
	}
}

h4 {
	font-size: 2.6rem;
	@include media-breakpoint-down(sm) {
		font-size: 2.4rem;
	}
}

h5 {
	font-size: 2rem;
}

h6 {
	font-size: 1.8rem;
}

p {
	margin: 0;
	line-height: 1.5;
}

.title {
	margin-bottom: 4rem;
	&--center {
		text-align: center;
	}
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 1rem;
	}
	p {
		opacity: .7;
	}

	&--blue {
		p {
			opacity: 1;
			color: $blue-light;
		}
	}
}

.fs {
	&--16 {
		font-size: 1.6rem;
	}
	&--18 {
		font-size: 1.8rem;
	}
	&--20 {
		font-size: 2rem;
	}

	&--24 {
		font-size: 2.4rem;
	}

	&--30 {
		font-size: 3rem;
	}

	&--32 {
		font-size: 3.2rem;
	}
}

.text {
	&--center {
		text-align: center;
	}

	&--right {
		text-align: right;
	}

	&--justify {
		text-align: justify;
	}
}

@each $color, $value in $text-colors {
	.text--#{$color} {
		color: $value !important;
	}
}
