.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  width: 100%;

  &.has-w-overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
    opacity: 0.15;
    z-index: 1;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &--43 {
    padding-top: calc( 100% * 3 / 4 );
  }

  &--34 {
    padding-top: calc( 100% * 4 / 3 );
  }

  &--23 {
    padding-top: calc( 100% * 3 / 2 );
  }

  &--32 {
    padding-top: calc( 100% * 2 / 3 );
  }
}

@each $color, $value in $bg-colors {
  .bg-#{$color} {
    background-color: $value;
  }
}

@each $color, $value in $gradient-color {
  .bg-#{$color}-gr {
    background: $value;
    color: #ffffff;
  }
}