.btn {
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  padding: 1.125em 1.75em;
  i {
    margin-right: .5em;
  }

  span {
    margin-left: 1.2rem;
    margin-top: 3px;
  }

  &--radius {
    border-radius: 50px;
  }

  &--sm {
    padding: .67em 1.33em;
    font-size: 1.2rem;
  }

  &--md {
    padding: .5em 2em;
    font-size: 1.8rem;
  }

  &--lg {
    padding: 1.5em 2em;
    font-size: 1.8rem;
  }

  &--white {
    background: $white;
    color: $blue;
    &:hover {
      color: $blue-dark;
    }
  }

  &--orange-gradient {
    background: $orange-gradient;
    color: white;
    &:hover {
      color: #fff;
    }
  }

  &--outline-orange {
    border: solid thin $orange;
    background-color: $white;
    color: $orange;
    border-radius: .8rem;
    &:hover {
      color: $orange-dark;
      border-color: $orange-dark;
    }
  }

  &--shadow {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.15);
  }

  &--circle {
    border-radius: 50%;
    padding: 0;
    width: 5rem;
    height: 5rem;
    i {
      margin: 0;
    }
  }
}