.countdown {
  width: 400px;
  margin: auto;
  @include flex-jbetween;
  &__item {
    width: 72px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 1.6rem 0;
    border-radius: .5rem;
  }

  &__num {
    font-weight: 700;
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }

  @include media-breakpoint-down(xs) {
    width: 300px;
    &__item {
      width: 65px;
    }
    &__num {
      font-size: 2.8rem;
    }
  }
}