.feedback {
  &-item {
    width: 388px;
    margin-right: 4rem;
    font-size: 1.8rem;
    color: $blue-support;
    &:nth-child(2n) {
      margin-top: 6rem;
    }

    @include media-breakpoint-down(md) {
      width: 300px;
    }
  }

  .rating {
    margin-bottom: 3.2rem;
  }

  .user-tag {
    color: $blue;
    margin-top: 6.6rem;
  }
}