.form {
  &-basic {
    input, textarea, select {
      border: none;
      border-bottom: 1px solid $blue-support;
      padding: .8em 0;
      width: 100%;
      margin-bottom: 5rem;
      font-size: 1.8rem;
    }
  }
}