.menu {
  z-index: 9;
  &.scroll {
    background-color: $blue;
    box-shadow: 0 0px 4px $black-overlay;
  }
  @include media-breakpoint-down(sm) {
    background-color: $blue;
    &.scroll {
      box-shadow: 0 0px 4px $black-overlay;
    }
  }
  &-inner {
    @include flex-jbetween;
    padding: 2rem 0;
  }
  &__nav {
    ul {
      display: flex;
    }
    ul li {
      list-style: none;
      a {
        padding: .5rem 2.5rem;
        color: $white-support;
        &:hover {
          color: $white;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      display: none;
      position: fixed;
      width: 100%;
      background-color: $blue;
      left: 0;
      top: 72px;
      padding: 1rem 0;
      border-top: solid thin $blue-light;
      border-bottom: solid thin $blue-light;
      box-shadow: 0 1px 1px $black-overlay;
      z-index: -1;
      ul {
        flex-direction: column;
        li {
          a {
            display: block;
            padding: 1rem;
            text-align: center;
          }
        }
      }
    }
  }

  a {
    color: #fff;
  }

  &__logo {
    width: 14rem;
  }
  &__tool {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__btn {
    width: 45px;
    height: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000D37;
    display: none;

    @include media-breakpoint-down(sm) {
      display: flex;
    }
    span {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
  }
}