.modal {
  position: fixed;
  background-color: $black-overlay;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  &-box {
    background-color: $white;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
  }

  &-inner {
    min-height: 100px;
    @include media-breakpoint-down(sm) {
      max-height: 80vh;
      overflow-y: auto;
    }
  }

  &-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: $shadow-black;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &.open {
    display: flex;
  }
}
