.prd-card {
  $p: '.prd-card';
  cursor: pointer;
  margin-bottom: 1.5rem;

  &__img {
    border-radius: .4rem;
  }

  &__txt {
    padding: 2rem 0;
  }

  &__price {
    p {
      color: $orange;
      font-size: 1.8rem;
    }
  }

  &__tool {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: $black-overlay;
    opacity: 0;
    transition: all .8s;
    &:hover {
      opacity: 1;
      transition: all .8s;
    }
  }

  .text--white {
    &__txt {
      small {
        color: $white-support;
      }
    }
  }

  &__bg {
    #{$p}__img {
      border-radius: 0;
    }

    #{$p}__price {
      color: $orange-dark;
      padding-top: 1.2rem;
      font-weight: bold;
    }

    #{$p}__txt {
      background-color: #fff;
      padding: 1.6rem 2.4rem;
      span {
        color: $blue-support;
        line-height: 1.5;
      }
    }

    &:hover {
      box-shadow: 0 16px 24px 0 rgba(0,0,0,0.1);
      transition: all .8s;
    }
  }

  &__sv-name {
    padding: 1.6rem 0;
    border-bottom: 1px solid rgba(32,55,87,0.1);
  }
}
