.scroll {
  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: $gray-support;
  }

  &::-webkit-scrollbar
  {
    width: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #cccccc;
  }

  &-small {
    &::-webkit-scrollbar
    {
      width: 6px;
    }

    &::-webkit-scrollbar-track
    {
      border-radius: 0px;
    }
  }
}