.service {
  border-radius: .8rem;
  overflow: hidden;
  margin-bottom: 4rem !important;
  &-intro {
    padding: 5rem;
    &>* {
      position: relative;
    }
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, #FFFFFF 100%);
    }
  }

  &-info {
    padding: 5rem;
    position: relative;
    padding-bottom: 15rem;
    .btn {
      position: absolute;
      left: 16%;
      bottom: 5rem;
    }
  }

  &-option {
    list-style: none;
    li {
      width: 50%;
      float: left;
      margin-bottom: 2.8rem;
      i {
        margin-right: 1rem;
      }
    }
  }
}