.tab {
  margin-left: -3rem;
  margin-right: -3rem;
  li {
    list-style: none;
    display: inline-block;
    opacity: .5;
    position: relative;
    font-size: 2rem;
    &.active {
      opacity: 1;
      &:after {
        content: "";
        width: 50px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: calc( 50% - 50px / 2 );
        background-color: $blue;
      }
    }

    &:hover {
      opacity: 1;
    }

    a {
      padding: 1.8rem 3rem;
      display: block;
    }
  }
}