.user {
  &-tag {
    display: flex;
    align-items: center;
    span {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      @include background-img();
    }

    div {
      padding-left: 2rem;
      p {
        font-weight: bold;
      }
      small {
        color: $blue-support;
      }
    }
  }
}