@font-face {
  font-family: 'yinicon';
  src:  url('fonts/yinicon.eot?gwabc3');
  src:  url('fonts/yinicon.eot?gwabc3#iefix') format('embedded-opentype'),
    url('fonts/yinicon.ttf?gwabc3') format('truetype'),
    url('fonts/yinicon.woff?gwabc3') format('woff'),
    url('fonts/yinicon.svg?gwabc3#yinicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="yinicon-"], [class*=" yinicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yinicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yinicon-banner-QC:before {
  content: "\e90d";
}
.yinicon-call:before {
  content: "\e90e";
}
.yinicon-check-orange:before {
  content: "\e90f";
}
.yinicon-check:before {
  content: "\e910";
}
.yinicon-desktop .path1:before {
  content: "\e911";
  color: rgb(228, 231, 231);
}
.yinicon-desktop .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(51, 136, 253);
}
.yinicon-desktop .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.4;
}
.yinicon-desktop .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(207, 211, 213);
}
.yinicon-desktop .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.yinicon-kho-giao-dien:before {
  content: "\e916";
}
.yinicon-mobile .path1:before {
  content: "\e917";
  color: rgb(51, 136, 253);
}
.yinicon-mobile .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.4;
}
.yinicon-tablet .path1:before {
  content: "\e919";
  color: rgb(51, 136, 253);
}
.yinicon-tablet .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.4;
}
.yinicon-desktop-line:before {
  content: "\e91b";
}
.yinicon-x:before {
  content: "\e91c";
}
.yinicon-arrow-left:before {
  content: "\e900";
}
.yinicon-arrow-right:before {
  content: "\e901";
}
.yinicon-arrow-share:before {
  content: "\e902";
}
.yinicon-book:before {
  content: "\e903";
}
.yinicon-coin:before {
  content: "\e904";
}
.yinicon-date:before {
  content: "\e905";
}
.yinicon-heart:before {
  content: "\e906";
}
.yinicon-look:before {
  content: "\e907";
}
.yinicon-more:before {
  content: "\e908";
}
.yinicon-shield:before {
  content: "\e909";
}
.yinicon-star:before {
  content: "\e90a";
}
.yinicon-time-left:before {
  content: "\e90b";
}
.yinicon-view:before {
  content: "\e90c";
}
